<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{.Title}}</title>
    
    <link rel="stylesheet" href="/vendor/normalize.css">
    <link rel="stylesheet" href="/style.css">

    <script src="/vendor/htmx.js"></script>
</head>
<body>
    <header>
        <nav style="display: flex; gap:1rem; align-items: center;">
            <a href="/">Recipes</a>
            {{if .IsAuthenticated}}
                <a href="/recipe" style="margin-right: auto;">Add</a>
                <a href="{{.LogoutUrl}}" style="margin-left: auto;">Logout</a>
            {{else}}
                <a href="{{.LoginUrl}}" style="margin-left: auto;">Login</a>
            {{end}}
        </nav>
    </header>
    <main>
        {{block "body" .}}{{end}}
    </main>
</body>
</html>
