{{define "body"}}
    <form method="POST">
        {{ .CsrfField }}
        <p>Are you sure you want to delete <strong>{{.Name}}</strong>?</p>
        <p style="display: flex; align-items: center;">
            <button type="submit" style="margin-right: auto;">Delete</button>
            <a href="{{.Webpath}}" style="margin-left: auto;">Cancel</a>
        </p>
    </form>
    <h1 style="display: flex; align-items: center;">
        <span style="margin-right: auto;">{{.Name}}</span>
    </h1>
    {{.Body}}
{{end}}