{{define "body"}}
<div hx-ext="response-targets">
    <div id="error" class="no-print" style="margin-bottom: 1em;">{{.Error}}</div>
    <form method="post" class="recipe-form" hx-post="" hx-target-4xx="#error" hx-target-5xx="#error">
        {{ .CsrfField }}
        <input type="url" name="url" placeholder="Recipe URL" required>
        <div style="display: flex; align-items: center; gap: 1rem;">
            <button type="submit">Import</button>
            <a href="{{.CancelUrl}}" style="margin-right: auto;">Cancel</a>
        </div>
    </form>
</div>
{{end}}
