{{define "body"}}
    <form
        class="search-form"
        hx-get="/"
        hx-trigger="submit"
        hx-target="#recipes"
        hx-push-url="true"
    >
        <input
            type="search"
            name="q"
            placeholder="Search recipes..."
            value="{{.Query}}"
            hx-get="/"
            hx-trigger="input changed delay:250ms, search"
            hx-target="#recipes"
            hx-push-url="true"
        >
        <button type="submit">Search</button>
    </form>
    <div id="recipes">
        {{block "recipesBody" .}}
            {{/* By default show recipes grouped by tag */}}
            {{range .Tags}}
                <h1>{{.TagName}}</h1>
                {{block "recipes" .}}
                    {{range .Recipes}}
                        <a href="/recipe/{{.Webpath}}" style="font-weight: bold;">{{.Name}}</a>
                        <div style="white-space: pre; margin: 0.5rem 0 2rem 0;">{{.Snippet}}</div>
                    {{end}}
                {{end}}
            {{end}}
            {{/* When there is a query show the recipes by relevance */}}
            {{template "recipes" .}}
        {{end}}
    </div>
{{end}}
