{{define "body"}}
<div hx-ext="response-targets">
    <div id="error" class="no-print" style="margin-bottom: 1em;"></div>
    <form class="recipe-form" hx-post="" hx-target-4xx="#error">
        {{ .CsrfField }}
        <input type="text" name="name" placeholder="Recipe Name" value="{{.Name}}" required>
        <textarea name="body" rows="20" placeholder="Recipe Content..." required>{{.Body}}</textarea>
        <div style="display: flex; align-items: center; gap: 1rem;">
            <button type="submit">Save</button>
            <a href="{{.CancelUrl}}" style="margin-right: auto;">Cancel</a>
            {{if .DeleteUrl}}
                <a href="{{.DeleteUrl}}" style="margin-left: auto;">Delete</a>
            {{end}}
        </div>
    </form>
</div>
{{end}}
